div.Info{
   background-color: burlywood;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    margin: 10px  900px 50px 5px;
    }
body{
    background-image: url("tumblr_nqn5a0IY4P1qilpmuo1_400.gif");
}
